body {
    background-color: #bad2bc;
}

.col {
    background-color: white;
    border-radius: 20px;
    height: 600px;
    overflow-y: auto;
}

.col-12 {
    background-color: white;
    border-radius: 20px;

}

.jumbotron {
    border-radius: 20px;
    background-color: white;

}


.active {
    color: white !important;
    background-color: #8a0102 !important;
}



.btn-primary {
    background-color: #8a0102 !important;
    border: none;
    color: white !important;
}

.btn-lg {
    background-color: #8a0102 !important;
    color: white !important;
 
}

.media {
    margin-left: 20px;
}

h1 {
    color: #8a0102;
}

h2 {
    color: black;
}

a {
    color: #8a0102 !important;
}
